/* vars */



/* nav bar */

nav{
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

nav ul{
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav li{
    display: inline;
    float: left;
    width: 25%;
    padding: 0.5% 0% 0.5% 0%;
    margin: 0;
    background-color: rgb(118, 87, 66);
    
    
}

nav li a{
    font-family: Rockwell;
    display: block;
    text-align: center;
    color: white;
    font-size: 1vw;
    text-decoration: none;
}

nav li:hover{
    background-color: rgb(138, 154, 91); 
}





/* footer*/

footer {
  background-color: rgb(118, 87, 66);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  font-family: Rockwell;
  display: flex;
  text-align: center;
  font-size: 0.5vw;
  padding: 0.5% 0% 0.5% 0%;
}

.footerHeading{
    font-size: 1vw;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.contact {
    text-align: center;
    padding-left: 25%;
}

.find {
    text-align: center;
    padding-left: 25%;
}





/* body*/

body{
    /* 5% top padding to be seen*/
    padding-top: 2%;
}



/* U18*/

.U18{
    color: rgb(0, 0, 0);
    font-family: Rockwell;
    font-size: 1vw;
    text-align: center;
}


.U18 .title{
    color: rgb(138, 154, 91); 
    text-align: center;
    font-family: Rockwell;
    font-weight: bold;
    font-size: 2vw;
}






/* Age stuff*/


#ageMenu{
    margin-left: 33%;
}

#ageMenu ul{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 0%;
}


#firstAge{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#lastAge{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}



#ageList li{
    display: none;
    background-color: rgb(118, 87, 66);
    padding: 10%;
    width: 200%;
    text-decoration: none;
}

#ageList li:hover{
    background-color: rgb(138, 154, 91);
}


#ageSelect{
    width: 100%;
    
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(68, 92, 131);
}

#ageSelect:hover{
    background-color: rgb(138, 154, 91);
}






/* activity stuff*/


#activityMenu{
    margin-left: 33%;
}

#activityMenu ul{
    margin: 0;
    padding: 0;
    width: 20%;
    padding-left: 5%;
}


#firstAge{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#lastAge{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#activityList li{
    display: none;
    background-color: rgb(118, 87, 66);
    padding: 10%;
    width: 20%;
    text-decoration: none;
}

#activityList li:hover{
    background-color: rgb(138, 154, 91);
}


#activitySelect{
    width: 50%;
    padding: 1%;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(68, 92, 131);
}

#activitySelect:hover{
    background-color: rgb(138, 154, 91);
}



.dataChooser{
    display: flex;
}

/*comps*/

.trophies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainText{
    font-size:x-small;
}

.trophy{
    margin: 1%;
    padding: 1%;
    flex-basis: 18%;
    flex-shrink: 0;
    border: 10px;
    border-style: double;
    border-color: black;
}

.comps .title {
    font-size: 200%;
}

.subtitle{
    font-size: 130%;
}
