/*Marks additions*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    height: 208px;
    background: url(images/alienbg.png) no-repeat;
    background-size: cover;
    clear: both;
}

.logo{
    text-align: center;
    font-weight: 900;
    line-height: 40px;
    white-space: nowrap;
  }

  .bold_red{
    color:#FF0000;
    font-size: 50px;
}

.bold{
    color:#ffffff;
    font-size: 55px;
}

.light{
    color:#ffffff;
    font-size: 25px;
}

.main_logo{ 
    margin-top: 1%;
    margin-left: 3%;
    flex-direction: column;
    height: 100%;
    width: 150px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 20px;
}

header ul{
    display: flex;
    justify-content: center;    
}

nav{
    margin-top: 30px;
    background-color: black;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
}

nav li{
    display: inline;
    float: left;
    width: 25%;
    margin:0;
}

nav li a{
    text-align: center;
    display: block;
}

/* footer*/

footer {
  background-color: rgb(118, 87, 66);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  font-family: Rockwell;
  display: flex;
  text-align: center;
  font-size: 0.5vw;
  padding: 0.5% 0% 0.5% 0%;
}

.footerHeading{
    font-size: 1vw;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.contact {
    text-align: center;
    padding-left: 25%;
}

.find {
    text-align: center;
    padding-left: 25%;
}

/* U18*/

.U18{
    color: rgb(0, 0, 0);
    font-family: Rockwell;
    font-size: 1vw;
    text-align: center;
}


.U18 .title{
    color: rgb(138, 154, 91); 
    text-align: center;
    font-family: Rockwell;
    font-weight: bold;
    font-size: 2vw;
}






/* Age stuff*/


#ageMenu{
    margin-left: 33%;
}

#ageMenu ul{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 0%;
}


#firstAge{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#lastAge{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}



#ageList li{
    display: none;
    background-color: rgb(118, 87, 66);
    padding: 10%;
    width: 200%;
    text-decoration: none;
}

#ageList li:hover{
    background-color: rgb(138, 154, 91);
}


#ageSelect{
    width: 100%;
    
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(68, 92, 131);
}

#ageSelect:hover{
    background-color: rgb(138, 154, 91);
}






/* activity stuff*/


#activityMenu{
    margin-left: 33%;
}

#activityMenu ul{
    margin: 0;
    padding: 0;
    width: 20%;
    padding-left: 5%;
}


#firstAge{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#lastAge{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#activityList li{
    display: none;
    background-color: rgb(118, 87, 66);
    padding: 10%;
    width: 20%;
    text-decoration: none;
}

#activityList li:hover{
    background-color: rgb(138, 154, 91);
}


#activitySelect{
    width: 50%;
    padding: 1%;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(68, 92, 131);
}

#activitySelect:hover{
    background-color: rgb(138, 154, 91);
}



.dataChooser{
    display: flex;
}

/*comps*/

.trophies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainText{
    font-size:x-small;
}

.trophy{
    margin: 1%;
    padding: 1%;
    flex-basis: 18%;
    flex-shrink: 0;
    font-weight: bold;
}

.comps .title {
    font-size: 200%;
}

.subtitle{
    font-size: 130%;
}

.compsMainBody{
    margin: 5%;
}

/*registration*/


.alienRockRegister{
    font-size: 150%;
    padding-left: 40px;
    border:20px Double red;
    text-align: center;
    }
    
    .application-img{
    overflow: hidden;
    display: inline-block;
    }
    
    .img-1,  .img-2 {
        float: left;
        padding-right: 30px;
    }
    
    .privacyDetails{
        font-size: 111%;
    }
