/*Marks additions! :)*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


header{
    display: flex;
    flex-direction: column;
    height: 208px;
    background: url(images/alienbg.png) no-repeat;
    background-size: cover;
    clear: both;
}

.logo{
    text-align: center;
    font-weight: 900;
    line-height: 40px;
    white-space: nowrap;
  }

  .bold_red{
    color:#FF0000;
    font-size: 50px;
}

.bold{
    color:#ffffff;
    font-size: 55px;
}

.light{
    color:#ffffff;
    font-size: 25px;
}

.main_logo{ 
    margin-top: 1%;
    margin-left: 3%;
    flex-direction: column;
    height: 100%;
    width: 150px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 20px;
}

header ul{
    display: flex;
    justify-content: center;    
}

nav{
    margin-top: 24px;
    background-color: black;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
}

nav li{
    display: inline;
    float: left;
    width: 20%;
    margin:0;
    font-weight: 900;
}

nav li a{
    text-align: center;
    display: block;
}

.active{
    text-align: center;
    display: block;
    background-color: #790000;
}


/* footer*/
.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

/* U18*/

.U18{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}








/* Age stuff*/



.dataChooser{
    display: flex;
}

#ageMenu, #typeMenu{
    flex: 1;
}



#ageMenu ul{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 0%;
    
}





#ageList li{
    list-style-position: inside;
    text-align: center;
    background-color: rgb(118, 87, 66);
    padding: 2%;
    width: 200px;
    display: none;
    text-decoration: none;
    border-radius: 15px;
}


#ageList li:hover{
    background-color: rgb(138, 154, 91);
}


#ageSelect{
    width: 200px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgb(180, 62, 62);
}

#ageSelect:hover{
    background-color: rgb(91, 150, 154);
}






/* activity stuff*/


#activityMenu{
    margin-left: 33%;
}

#activityMenu ul{
    margin: 0;
    padding: 0;
    width: 16%;
    padding-left: 5%;
}


#alienBlockSelect{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#kidsClubSelect{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#typeList li{
    list-style-position: inside;
    text-align: center;
    background-color: rgb(118, 87, 66);
    padding: 2%;
    width: 200px;
    display: none;
    text-decoration: none;
    border-radius: 15px;
}

#typeList li:hover{
    background-color: rgb(91, 150, 154);
}


#typeSelect{
    padding: 10px 0px 10px 0px;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgb(180, 62, 62);
}

#typeSelect:hover{
    background-color: rgb(91, 150, 154);
}



/*outputs*/


.dataChooser{
    display: flex;
    position: relative;
}


.outputHeading{

    font-size: 20px;
    font-weight: bold;
    color: #790000;
}

#outputDetailsTitle{
    font-size: 20px;
    font-weight: bold;
}


/*comps*/

.trophies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainText{
    font-size:x-small;
}

.trophy{
    margin: 1%;
    padding: 1%;
    flex-basis: 18%;
    flex-shrink: 0;
    font-weight: bold;
}


.subtitle{
    font-size: 130%;
}

.compsMainBody{
    margin: 5%;
}

/*registration*/


.alienRockRegister{
    font-size: 20px;
    padding-left: 40px;
    /*border:20px Double red;*/
    text-align: center;
}
    
.application-img{
    overflow: hidden;
    display: inline-block;
    float: center;
    
}
    
.img-1, .img-2{
    display: inline-block;
    float: left;
    width: 50%;
}


 
.privacyDetails{
    text-align: center;
    margin-top: 500px;
    font-size: 111%;
    padding: 0% 10% 0% 10%;
}


/*contact*/
.mapImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactTitle{
    font-size: 40px;
    font-weight: bold;
}



.leftHandContact{
    float: left;
    width: 50%;
    text-align: center;
}

.rightHandContact{
    float: left;
    width: 50%;
    text-align: center;
}


.contactDetails{
    font-size: 20px;
    background: linear-gradient(
        to right,
        rgb(152, 192, 249) 0%,
        rgb(152, 192, 249) 50%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 100%
    );
}




/*home*/

.homeSubText{
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
}

.homeSubtitle{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.homeBody{
    font-size: 120%;
    display: flex;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.actualImage{
    float: left;
    width: 30%;
    margin: 0px 1.6% 0px 1.6%;
    display: block;
    border: 4px solid #000000;
    background: #000000;



}

.imageSection{
    display: block;
}

.caption{
    text-align: center;
    padding: 0px 40px 0px 40px;
    background-color: black;
    color: #ffffff;
    font-weight: 900;
    font-size: 25px;
    height: 200px;
}



.caption .boldRed{
    font-weight: 900;
    color:#FF0000;
    font-size: 40px;
}

.caption .bold{
    font-weight: 900;
    color:#ffffff;
    font-size: 40px;
}

.actualImage a{
    display: block;
    height: 100%;
}


/*courses*/

#taster, #adult, #improver, #leading, #parents{
    display: none;
}

#courseSelection li{
    list-style-position: inside;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 20%;
    display: block;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}


#courseSelection li:hover{
    background-color: rgb(154, 98, 91);
}


#courseSelection{
    display: flex;
    justify-content: center; 
    justify-content: space-around;
    align-content: space-between;
    flex-direction: row;
}

.courses{
    text-align: center;
    font-size: 120%;
}

.courses h2{
    color: rgb(143, 0, 0);
}

.courses ul li{
    list-style-type: none;
}
